# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
RedisDriveTest/obj/Debug/RedisDriveTest.pdb
RedisDriveTest/obj/Debug/RedisDriveTest.MainForm.resources
RedisDriveTest/obj/Debug/RedisDriveTest.exe
RedisDriveTest/obj/Debug/RedisDriveTest.csprojResolveAssemblyReference.cache
RedisDriveTest/obj/Debug/RedisDriveTest.csprojAssemblyReference.cache
RedisDriveTest/obj/Debug/RedisDriveTest.csproj.GenerateResource.Cache
RedisDriveTest/obj/Debug/RedisDriveTest.csproj.FileListAbsolute.txt
RedisDriveTest/obj/Debug/RedisDriveTest.csproj.CoreCompileInputs.cache
RedisDriveTest/bin/Debug/Wenli.Drive.Redis.xml
RedisDriveTest/bin/Debug/Wenli.Drive.Redis.pdb
RedisDriveTest/bin/Debug/Wenli.Drive.Redis.dll.config
RedisDriveTest/bin/Debug/Wenli.Drive.Redis.dll
RedisDriveTest/bin/Debug/StackExchange.Redis.xml
RedisDriveTest/bin/Debug/StackExchange.Redis.dll
RedisDriveTest/bin/Debug/RedisDriveTest.pdb
RedisDriveTest/bin/Debug/RedisDriveTest.exe.config
RedisDriveTest/bin/Debug/RedisDriveTest.exe
RedisDriveTest/bin/Debug/Newtonsoft.Json.xml
RedisDriveTest/bin/Debug/Newtonsoft.Json.dll
RedisDriveTest/bin/Debug/log4net.dll
DriveTest/obj/Debug/DriveTest.pdb
DriveTest/obj/Debug/DriveTest.exe
DriveTest/obj/Debug/DriveTest.csprojResolveAssemblyReference.cache
DriveTest/obj/Debug/DriveTest.csprojAssemblyReference.cache
DriveTest/obj/Debug/DriveTest.csproj.FileListAbsolute.txt
DriveTest/obj/Debug/DriveTest.csproj.CoreCompileInputs.cache
DriveTest/bin/Debug/Wenli.Drive.Redis.xml
DriveTest/bin/Debug/Wenli.Drive.Redis.pdb
DriveTest/bin/Debug/Wenli.Drive.Redis.dll
DriveTest/bin/Debug/StackExchange.Redis.xml
DriveTest/bin/Debug/StackExchange.Redis.dll
DriveTest/bin/Debug/Newtonsoft.Json.xml
DriveTest/bin/Debug/Newtonsoft.Json.dll
DriveTest/bin/Debug/log4net.dll
DriveTest/bin/Debug/DriveTest.pdb
DriveTest/bin/Debug/DriveTest.exe.config
DriveTest/bin/Debug/DriveTest.exe
